body{

	background-color: black;

}

@font-face{       								/* Linking the fonts for the page */					

	font-family: computerFont;
	src: url("images/computer_7.ttf");
}

#login-modal{								/*first page user log in */

	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-top: 270px;
}

#new-user-modal{								/*first page new user log in */
	text-align: center;
	width: 75%;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 240px;
}

.form-control{							/* width of the input for our user input */

	width: 400px;
	margin: 0 auto;
	background-color: grey;
	color: #4bfe31;
}

.btn{

	background-color: black;
	border-color: #4bfe31;
	color: #4bfe31;
}
#readyUp										/* Adjust the button on first page to go to second page */
{
	background-color: black;
	border-color: #4bfe31;
	color: #4bfe31;
}

#layoutFirstPage{								/* Adjust the First page div id here with comp image and colors */

	color: #4bfe31;
	font-family: computerFont;
	font-size: 20px;
	background-image: url("images/computermonitor1.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 75%;
	margin: 0 auto;
	height: 800px;
	margin-top: 50px;
	
}

#secondPageLayout{								/*Adust the second page Waiting on Player 2 Page */

	color: #4bfe31;
	font-family: computerFont;
	font-size: 20px;
	background-image: url("images/computermonitor1.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 75%;
	margin: 0 auto;
	height: 800px;
	margin-top: 50px;
}

h3{ 											/* Adjust the Waiting section on Page 2 */
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-top: 270px;
}

.thirdPageLayout{						/* Adjusting the 3rd page main container class */

	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 3%;
	color: #4bfe31;
	font-family: computerFont;
	font-size: 20px;
	height: 800px;
}

#page3HeaderSection{						/*Adjusts the header on the 3rd page, The questions go in the section tag, not here */
	border-style: solid;
	border-color: #4bfe31;
	border-width: 5px;
	text-align: center;
	color: #4bfe31;
	font-family: computerFont;
	font-size: 20px;
	height: 100px;
	margin-bottom: 10px;

}

.coderSpot
{
	width: 100%;
	height: 80%;
	margin: 0 auto;

}

.codingArea{
	display: table-cell;
	height: 700px;
	background-image: url("images/computermonitor1.png");
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.symbolArea{
	display: table-cell;
	width: 10%;
}


#userCodeOne
{

	border-style: solid;
	border-color: #4bfe31;
	border-width: 5px;
	width: 450px;
	height: 360px;
	margin: 0 auto;
	margin-top: 150px;
}

#userCodeTwo{
	border-style: solid;
	border-color: #4bfe31;
	border-width: 5px;
	width: 450px;
	height: 360px;
	margin: 0 auto;
	margin-top: 150px;
}

#versusSymbolArea{
	margin: 0 auto;
}

footer{
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
}


h4{
	text-align: center;
	font-size: 20px;
}

#fourthPageLayout{
	color: #4bfe31;
	font-family: computerFont;
	font-size: 30px;
	background-image: url("images/endgamescreen2.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 75%;
	margin: 0 auto;
	height: 800px;
	margin-top: 50px;
}

.displayFinalPage{
	font-size: 30px;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-top: 350px;
}

#userGameDisplay{
	font-size: 30px;
	background-color: black;
	width: 360px;
	margin: 0 auto;

}


#winnerDisplayedHere{
	margin: 0 auto;
	font-size: 30px;

}

#loserDisplayedHere{
	margin: 0 auto;
	font-size: 30px;

}

#finalButton{
	margin: 0 auto;
	color: black;
}

#playAgain{
	background-color: black;
	border-color: #4bfe31;
	color: #4bfe31;
}

h5{
	font-size: 30px;
}


