/* Linking the fonts for the page */
/*@font-face {
	font-family: 'Overpass Mono', monospace;
	src: url("images/computer_7.ttf");
}*/

body, html {
	font-family: 'Overpass Mono', monospace;
	background-color: black;
	color: #80c576;
	height: 100%;
}

.modal {
	background-color: black;
}

#content {
	display: none;
}

/*first page user log in */
#login-modal,
#new-user-modal {
	text-align: center;
}

#modal-content {
	margin: auto;
	margin-top: 10%;
	width: 600px;
	height: 500px;
	padding: 50px;
	/*background-image: url("images/computermonitor1.png");*/
	border: solid 2px #80c576;
	border-radius: 15px;
}

#content {
	height: 100%;
}

#header-row {
	height: 7%;
	text-align: center;
}

#question-row {
	height: 12%;
}

#question-text {
	font-size:1.8em;
	text-align: center;
}

#code-row {
	height: 60%;
}

.coding-area {
	height: 100%;
}

.code-textarea {
	border: none;
	resize: none;
	width: 100%;
	height: 100%;
	background-color: black;
}

.code-textarea:focus {
	outline: none;
}

#current-player,
#other-player {
	border: 3px solid #80c576;
	border-radius: 15px;
	width: 90%;
	height: 90%;
	margin: auto;
	padding: 5px;
	font-size: 1.2em;
}

#player-avatar, #opponent-avatar {
	text-align: right;
	padding: 0;
}

#player-name-display, #opponent-name-display, {
	margin: 0;
	padding: 0 0 0 30px;
	height: 100px;
}

.username-div {
	padding-left: 50px;
}

h5 {
	margin: 0;
	padding: 0;
	height: 100px;
	line-height: 120px;
}

h5 > p {
	margin: 0;
}

::selection {
	background-color: #c1e6bc;
	color: black;
}

textarea {
	tab-size: 4;
	-moz-tab-size : 4;
    -o-tab-size : 4;
}

#check-code {
	display: block;
	margin: 5px auto 0;
	background-color: black;
	border-color: #80c576;
	color: #80c576;
}

#check-code:focus {
	outline: none;
}

/* Additional forms set initially to no display */
#new-user-modal,
#game-won-display {
	display: none;
}


/* width of the input for our user input */
.form-control {
	width: 400px;
	margin: 0 auto 10px;
	background-color: #424141;
	color: #80c576;
}

.form-control:focus {
	border-color: #80c576;
	outline: none;
}

.btn {
	background-color: black;
	border-color: #80c576;
	color: #80c576;
}


/* Winner DIV styles*/
#winner-div {
	position: absolute;
	margin: 100px 25% 0;
	display: block;
	width: 50%;
	height: 200px;
	text-align: center;
	background: black;
	border: 3px solid;
}

#winner-div > h2 {
	line-height: 200px;
	margin: 0;
}

/* */
.display-final-page {
	font-size: 30px;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-top: 350px;
}

#user-game-display {
	font-size: 30px;
	background-color: black;
	width: 360px;
	margin: 0 auto;
}

#winner-displayed-here {
	margin: 0 auto;
	font-size: 30px;
}

#loser-displayed-here {
	margin: 0 auto;
	font-size: 30px;
}

#final-button {
	margin: 0 auto;
	color: black;
}

#play-again {
	background-color: black;
	border-color: #80c576;
	color: #80c576;
}

h5 {
	font-size: 30px;
}
/* End Game Won Popup styles*/


/* STYLES FOR ERROR MESSAGES */
.err-msg, .alert-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    background: black;
    padding: 10% 0;
    border: 2px solid red;
    color: red;
    max-height: 80%;
}

.err-btn {
	margin-top: 20px;
	background-color: black;
	border-color: red;
}

.err-btn:focus {
	outline: none;
}

#user-code-one {
	position: relative;
}

.alert-modal {
	font-size: 26px;
	width: 80%;
	top: 15%;
}

#modal-content {
	position: relative;
}

/* End styles for error messages */
