.modal-text{
	margin-top: 15%;
}

/*modal css from w3schools*/
.modal {
    position: fixed;
	z-index: 1;
	width:80%;
	height: 60%;
	margin-top: 2%;
	margin-right: 10%;
	margin-left: 10%;
	border: 1px solid black;
	border-radius: 25px;
}
